.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background-color: #fff0f5;
  background: linear-gradient(to bottom, #fff, #ffe6eb);
  min-height: 100vh;
}

.intro-text {
  flex: 1;
  padding-right: 40px;
}

.intro-text h1 {
  font-size: 50px;
  font-weight: 700;
  color: #d63384;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}

.shop-btn {
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #d63384;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  animation: bounce-horizontal 2s infinite;
}

@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(3px);
  }
}

.shop-btn:hover {
  background-color: #c2185b;
}

.intro-image img {
  width: 500px;
  border-radius: 20px;
}
