.portfolio-container {
  padding: 40px;
  text-align: center;
  background: linear-gradient(to bottom, #fff, #ffe6eb); /* same as LorealPage */
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; /* breathing space between cards */
}

.portfolio-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}

.portfolio-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  background-color: #fff0f5;
}

.portfolio-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.portfolio-card img:hover {
  transform: scale(1.05);
}

.portfolio-card h3 {
  margin: 12px 0 6px;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.portfolio-card p {
  font-size: 14px;
  color: #555;
}

.line{
  border: 1px solid pink;
   width: 60%;
}
